# Profil Spring actif : postgres | mysql | h2
SPRING_PROFILE=postgres

# Base de données
DB_URL=jdbc:postgresql://localhost:5432/assurance_sante_db
DB_USER=assurance_app
DB_PASSWORD=MotDePasseFort2026!

# JWT
JWT_SECRET=remplacer_par_une_chaine_base64_de_64_caracteres_minimum
JWT_EXPIRATION_MS=86400000

# Email (optionnel en développement)
MAIL_USERNAME=
MAIL_PASSWORD=
